<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <title>All-Products - RedStore |Ecommerce </title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>

    <!-- Header -->

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/Ecommerce-Website/Home.html"><img th:src="@{/images/logo.png}" width="125px"></a>
            </div>
            <nav>
                <ul id="menuitems">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/home}">Account</a></li>
                </ul>
            </nav>
            <a th:href="@{/cart}"><img th:src="@{/images/cart.png}" width="30px" height="30px"></a>
            <img th:src="@{/images/menu.png}" class="menu-icon" width="30px" height="30px" onclick="menutoggle()">
        </div>
    </div>


    <!--Account Page-->

    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img th:src="@{/images/image1.png}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">SignUp</span>
                            <hr id="indicator">
                        </div>
                        <form id="LoginForm">
                            <input email="email" type="text" placeholder="Enter Email">
                            <input name="passwd" type="password" placeholder="Enter Password">
                            <button type="submit" class="btn">Login</button>
                            <a href="">Forgot Password</a>
                        </form>

                        <form id="RegisterForm">
                            <input name="email" type="email" placeholder="Enter Email">
                            <input name="password" type="password" placeholder="Enter Password">
                            <button type="submit" class="btn">Sign Up</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--Footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download the App for Android and IOS</p>
                    <div class="app-logo">
                        <img th:src="@{/images/play-store.png}">
                        <img th:src="@{/images/app-store.png}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img th:src="@{/images/logo-white.png}">
                    <p>Our Purpose is to Sustainably make the Pleasure Benifits of sports Accessible to many of the
                        People</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog posts</li>
                        <li>Return Plolicy</li>
                        <li>Join Affiliates</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                        <li>Twitter</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - Easy Tutorials</p>
        </div>
    </div>

    <!-- js for togglemenu -->

    <script>
        var MenuItems = document.getElementById('menuitems');
        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

    <!--JS for ToggleForm-->

    <script>
        var Login = document.getElementById("LoginForm")
        var Registration = document.getElementById("RegisterForm")
        var Indicator = document.getElementById("indicator")

        function login() {
            Registration.style.transform = "translateX(300px)";
            Login.style.transform = "translateX(300px)";
            Indicator.style.transform = "translateX(0px)";
        }

        function register() {
            Registration.style.transform = "translateX(0px)";
            Login.style.transform = "translateX(0px)";
            Indicator.style.transform = "translateX(100px)";
        }
    </script>

</body>

</html>